:root {
    --color0: #211c2e;
    --color1: #222831;
    --color2: #393e46;
    --color3: #007e73;
    --color4: #00bfc5;
    --color5: #2a2438;
    --color6: #352f44;
    --color7: #5c5470;
    --color8: #dbd8e3;
    --color9: #ffffff;
}

